In [1]:
import copy
import random
import numpy as np
import pandas as pd
import scipy.stats as ss
import datetime
import time

In [2]:
from matplotlib import pyplot as plt
import seaborn as sns

plt.rcParams['font.family'] = 'SimHei'

In [3]:
dfraw = pd.read_csv('BankData/ScoreCard.csv', encoding='GBK')
dfraw.head()

   年龄    收入  孩子数量  家庭人口数  在现住址时间  在现工作时间 住房种类   国籍 信用卡类型  是否违约
0  46     0     0      2      15      33   租住   德国  支票账户     0
1  34  3200     4      6     144      54   自有  土耳其  无信用卡     1
2  31  3300     3      5     108     120   租住  土耳其  无信用卡     1
3  39  1500     0      1     192       6   租住   德国  无信用卡     1
4  32     0     3      5      48     108   租住   德国  支票账户     0

In [4]:
dfraw.是否违约.value_counts()

1    1500
0    1500
Name: 是否违约, dtype: int64

In [5]:
dfraw.收入.value_counts()

0         707
2500      190
1500      188
2000      159
3000      152
2200      152
2300      130
4000      103
2400      103
1800       98
1900       95
3500       94
2800       94
2600       81
1700       79
2100       75
2700       75
5000       70
1600       63
1000       63
3200       54
2900       47
3300       45
3100       30
10000      26
3400       26
100000      1
Name: 收入, dtype: int64

In [6]:
dfraw.收入.replace(100000, 10000, inplace=True)

In [8]:
def M_chiMerge(dfname, colname, target, method='MaxInt', maxint=5, minchi=3.84, vartype='N', outtype=1):
    dfana = copy.copy(dfname[[colname, target]])
    if sum(dfana[colname].isna()) > 0:
        dfana = dfnan[dfana[colname].notna()] 
    n_levels = dfana[colname].nunique()
    if method == 'MaxInt' and n_levels <= maxint:
        return []

KeyError: "None of [Index([('收入', '是否违约'), ('收入1', '123')], dtype='object')] are in the [columns]"

In [23]:
dfraw['收入'].nunique()

26